fastapi
uvicorn
python-dotenv
pydantic

pandas
numpy
scikit-learn
joblib
xgboost

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
sentence-transformers

chromadb
pypdf
watchfiles