fastapi
uvicorn
python-dotenv
pydantic
python-multipart
pandas
numpy
scikit-learn
joblib
xgboost
pyyaml
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai

chromadb

pypdf
google-genai
httpx
tensorflow
Pillow
sarvamai
